
<!--

{% extends 'base.html' %}

{%load static%}
{%block meta%}
<!-- HTML Defaults Broweser -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Stylesheet and Jquery, Google APIS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- Online Calculator Guru Site Fevicon -->
<link rel="shortcut icon" href="https://onlinecalculator.guru/static/images/logo/Online-Calculator-Guru-Fevicon.png"
    type="icon">
<!-- Online Calculator Guru Project Style Sheet -->
{%block css%}

<link rel="stylesheet" href="https://onlinecalculator.guru/static/style.css">
{%endblock%}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- Meta Title, Description and Canonical URL Starts --->
<title>Compression Ratio Calculator | Free Calculator to find CR of an engine</title>


<meta name="description"
    content="Arrow speed calculator makes it easy for you to find Arrow speed." />
<link rel="canonical" href="{{request.build_absolute_uri}}">
<!-- Meta Title, Description and Canonical URL ENDS --->

<!-- OPEN GRAPH CONFIGURATIONS STARTS -->
<!--  FACEBOOK CONFIGURATION STARTS  -->
<meta content="https://www.facebook.com/OnlineCalculator-Guru-131572098650589/" property="og:url" />
<meta property="og:title" content="Arrow speed calculator | Free Calculator to find Arrow speed" />
<meta property="og:description" content="Arrow speed calculator" />
<meta content="" property="og:site_name" />
<meta content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg"
    property="og:image" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:height" content="435" />
<meta property="og:image:width" content="354" />
<!--  FACEBOOK CONFIGURATION ENDS  -->
<!-- TWITTER CARD CONFIGURATION STARTS  -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="https://twitter.com/onlinecalculator" />
<meta name="twitter:title" content="Arrow speed calculator | Free Calculator to find Arrow speed" />
<meta name="twitter:description"
    content="Arrow speed calculator makes it easy for you to find Arrow speed." />
<meta name="twitter:image:src"
    content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg" />
<meta property="twitter:image:height" content="435" />
<meta property="twitter:image:width" content="354" />
<!-- TWITTER CARD CONFIGURATION ENDS  -->
<!--  LINKEDIN CONFIGURATION STARTS-->
<meta property='og:title' content="Arrow speed calculatorr | Arrow speed" />
<meta property='og:image'
    content="https://onlinecalculator.guru/static/images/Chemistry/arrow-speed-calculator.jpeg" />
<meta property='og:description' content="Arrow speed calculator." />
<meta property='og:url' content="https://www.linkedin.com/in/onlinecalculator/" />
<!-- end of linkedin CONFIGURATIONS ENDS -->
<!-- OPEN GRAPH CONFIGURATION ENDS -->
<!-- FAQ SCHEMA STARTS -->

{%endblock%}

{%block content%}

<style>
    input {
        text-align: right;
    }
</style>

{%if go_to %}
<a href="{{go_to}}" id="ddd"></a>
{%endif%}

<script>
	  document.addEventListener('DOMContentLoaded', function () {
		document.getElementById('ddd').click();
		});
</script>


<div class="container" style="height: auto !important;">
    <div class="card c1">
        <div class="card-header">
            <h1 class="h1">Compression Ratio Calculator</h1>
        </div>

        <div class="card-body">
            <ul class="messages">
                {% for message in messages %}
                <p {% if message.tags %} id="message_container" class="alert alert-danger text-center" {% endif %}
                    style="color:red">{{ message }}</p>
                {% endfor %}
            </ul>

            <form action="" method="POST" id="my_form" >
                {% csrf_token %}
                <div class="col-auto">

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Bore Diameter</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="B"  value="{{B1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="B_op">
                          
                          {% if B_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if B_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                        </select>

                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Piston Stroke</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="S"  value="{{S1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="S_op">
                          
                          {% if S_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if S_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                        </select>
                        
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Head Gasket Thickness</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="T"  value="{{T1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="T_op">
                          
                          {% if T_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if T_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                        </select>
                        
                    </div>


                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Gasket Bore</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="G"  value="{{G1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="G_op">
                          
                          {% if G_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if G_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                        </select>
                        
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Deck Clearance</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="C"  value="{{C1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="C_op">
                          
                          {% if C_op == 'in' %}
                            <option value="in" selected="selected">inch(in)</option>
                            {% else %}
                            <option value="in">inch(in)</option>
                            {% endif %}

                            {% if C_op == 'mm' %}
                            <option value="mm" selected="selected">milli meter(mm)</option>
                            {% else %}
                            <option value="mm">milli meter(mm)</option>
                            {% endif %}

                        </select>
                        
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Chamber Volume</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="Vc"  value="{{Vc1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="Vc_op">
                          
                          {% if Vc_op == 'cc' %}
                            <option value="cc" selected="selected">centimeter cube (cc)</option>
                            {% else %}
                            <option value="cc">centimeter cube (cc)</option>
                            {% endif %}

                        </select>
                        
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><strong>Piston Volume</strong></div>
                        </div>
                        <input type="number" min="0" step="0.01" oninput="validateNumber(this);" id="inlineFormInputGroup" required=""
                           placeholder="Enter number"  class="form-control" name="Vp"  value="{{Vp1}}">

                        <select class="select form-control" id="inlineFormInputGroup" name="Vp_op">
                          
                          {% if Vp_op == 'cc' %}
                            <option value="cc" selected="selected">centimeter cube (cc)</option>
                            {% else %}
                            <option value="cc">centimeter cube (cc)</option>
                            {% endif %}

                        </select>
                        
                    </div>

                    <div class=" center col mt-2 ">
                        <center><button type="submit" class="btn btn-primary" name="f1">Calculate</button>
                            <button type="button" onclick="myFunction()" style="margin-top:5px;"
                                class="btn btn-danger">Reset</button>
                        </center>
                    </div>

            </form>


        </div>
    </div>
</div>


<div id="clear">

    {% if id == 1 %}

    <div class="card" id="magnetic-force">
        <div class="card-header">
            <h2 class="h2">Steps to Calculate {{name}} </h2>
        </div>

        <div class="card-body">

            <strong>Compression Ratio Calculator formula</strong>
            <br>
            <p class="btn btn-outline-secondary active"> CR = (Va + Vb ) / Vb
            </p>
            <p class="btn btn-outline-secondary active">  Va = B^2 * S * 3.14159
            </p>
            <p class="btn btn-outline-secondary active">  Vb = Vc + Vp + ( G^2 * T * (3.14159)) + (B^2 * T * (3.14159))
            </p>
            <br>
            <strong>where:</strong>
                    <ul>
                        <li>B is the bore diameter </li>
                        <li>S is the piston stroke </li>
                        <li>T is the head gasket thickness </li>
                        <li>G is the gasket bore </li>
                        <li>C is the deck clearance </li>
                        <li>Vc is the chamber volume </li>
                        <li>Vp is the piston volume </li>
                    </ul>

            <strong>Input values are:-</strong>
            
            
            <p>Bore Diameter = {{B1}} {{B_op}} </p>
            
            
            <p>Piston Stroke = {{S1}} {{S_op}}</p>

            
            <p>Head gasket thickness = {{T1}} {{T_op}}</p>
            

            <p>Gasket Bore = {{G1}} {{G_op}}</p>
           

            <p>Deck clearance = {{C1}} {{C_op}}</p>

         
            <p>Chamber Volume = {{Vc1}} {{Vc_op}}</p>


            <p>Piston Volume = {{Vp1}} {{Vp_op}}</p>




            <strong>Put values into formula</strong>
           

            <p > CR = (Va + Vb ) / Vb </p>
            <p >  Va = {{B}}^2 * {{S}} * 3.14159</p>
            <p>  Vb = {{Vc}} + {{Vp}} + ( {{G}}^2 * {{T}} * (3.14159)) + ({{B}}^2 * {{T}} * (3.14159))</p>
            <p > CR = {{val}} </p>


        </div>

    </div>
    {% endif %}

</div>



<script>
    
{% if id == 1 %}
 
var scrollDiv = document.getElementById("clear").offsetTop;
window.scrollTo({ top: scrollDiv, behavior: 'smooth'});

{%endif%}

    


    var validNumber = new RegExp(/^\d*\.?-?\d*$/);
    var fist_input = document.getElementById("inlineFormInputGroup").value;
    function validateNumber(elem) {
        console.log(elem)
        if (validNumber.test(elem.value)) {
            fist_input = elem.value;
        } else {
            elem.value = fist_input;
        }
    }
</script>

<script>
    function myFunction() {

        document.getElementById("clear").innerHTML = "";
        
    }
</script>
<br>


{% endblock %}
  -->
